<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Always CD Ripper" Language="1041" Version="1.0.0.0" Manufacturer="YOUICHI SAIJO" UpgradeCode="838C4673-0D72-4173-A0CC-B9B57F3759F2">
    <Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine" Description="Always CD Ripper" Manufacturer="YOUICHI SAIJO" Comments="v1.0.0" />
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon.ico" SourceFile="icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Feature Id="ProductFeature" Title="Always CD Ripper" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="QtDlls" />
      <ComponentGroupRef Id="VcpkgDlls" />
      <ComponentGroupRef Id="PlatformsPlugin" />
      <ComponentGroupRef Id="StylesPlugin" />
      <ComponentGroupRef Id="ImageFormatsPlugin" />
      <ComponentRef Id="ShortcutDesktop" />
      <ComponentRef Id="ShortcutStartMenu" />
    </Feature>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Always CD Ripper">
          <Directory Id="PlatformsDir" Name="platforms" />
          <Directory Id="StylesDir" Name="styles" />
          <Directory Id="ImageFormatsDir" Name="imageformats" />
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="StartMenuFolder" Name="Always CD Ripper" />
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExe" Guid="*"><File Source="AlwaysCDRipper.exe" KeyPath="yes"/></Component>
      <Component Id="IcoFile" Guid="*"><File Source="icon.ico" KeyPath="yes"/></Component>
    </ComponentGroup>
    <ComponentGroup Id="QtDlls" Directory="INSTALLFOLDER">
      <Component Id="DQt6Core" Guid="*"><File Source="Qt6Core.dll" KeyPath="yes"/></Component>
      <Component Id="DQt6Gui" Guid="*"><File Source="Qt6Gui.dll" KeyPath="yes"/></Component>
      <Component Id="DQt6Widgets" Guid="*"><File Source="Qt6Widgets.dll" KeyPath="yes"/></Component>
      <Component Id="DQt6Network" Guid="*"><File Source="Qt6Network.dll" KeyPath="yes"/></Component>
      <Component Id="DQt6Svg" Guid="*"><File Source="Qt6Svg.dll" KeyPath="yes"/></Component>
      <Component Id="DD3D" Guid="*"><File Source="D3Dcompiler_47.dll" KeyPath="yes"/></Component>
      <Component Id="DOpenGL" Guid="*"><File Source="opengl32sw.dll" KeyPath="yes"/></Component>
      <Component Id="DIcu" Guid="*"><File Source="icuuc.dll" KeyPath="yes"/></Component>
    </ComponentGroup>
    <ComponentGroup Id="VcpkgDlls" Directory="INSTALLFOLDER">
      <Component Id="DFLAC" Guid="*"><File Source="FLAC.dll" KeyPath="yes"/></Component>
      <Component Id="DTag" Guid="*"><File Source="tag.dll" KeyPath="yes"/></Component>
      <Component Id="DOgg" Guid="*"><File Source="ogg.dll" KeyPath="yes"/></Component>
      <Component Id="DZlib" Guid="*"><File Source="zlib1.dll" KeyPath="yes"/></Component>
    </ComponentGroup>
    <ComponentGroup Id="PlatformsPlugin" Directory="PlatformsDir">
      <Component Id="DQWindows" Guid="*"><File Source="platforms\qwindows.dll" KeyPath="yes"/></Component>
    </ComponentGroup>
    <ComponentGroup Id="StylesPlugin" Directory="StylesDir">
      <Component Id="DQModern" Guid="*"><File Source="styles\qmodernwindowsstyle.dll" KeyPath="yes"/></Component>
    </ComponentGroup>
    <ComponentGroup Id="ImageFormatsPlugin" Directory="ImageFormatsDir">
      <Component Id="DQJpeg" Guid="*"><File Source="imageformats\qjpeg.dll" KeyPath="yes"/></Component>
    </ComponentGroup>
    <Component Id="ShortcutDesktop" Guid="*" Directory="DesktopFolder">
      <Shortcut Id="DeskShortcut" Name="Always CD Ripper" Target="[INSTALLFOLDER]AlwaysCDRipper.exe" WorkingDirectory="INSTALLFOLDER" Icon="AppIcon.ico" />
      <RemoveFolder Id="RemDesk" Directory="DesktopFolder" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\YOUICHISAIJO\AlwaysCDRipper" Name="desk" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
    <Component Id="ShortcutStartMenu" Guid="*" Directory="StartMenuFolder">
      <Shortcut Id="StartShortcut" Name="Always CD Ripper" Target="[INSTALLFOLDER]AlwaysCDRipper.exe" WorkingDirectory="INSTALLFOLDER" Icon="AppIcon.ico" />
      <RemoveFolder Id="RemStart" Directory="StartMenuFolder" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\YOUICHISAIJO\AlwaysCDRipper" Name="start" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
  </Fragment>
</Wix>
